@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }

  body {
    font-family: "Space Grotesk", sans-serif;
  }

  .markdown h2,
  .markdown h3 {
    @apply font-medium text-2xl text-base-title;
  }

  .markdown p,
  .markdown li {
    @apply text-xl text-base-text;
  }

  .markdown h2 + p,
  .markdown h2 + li,
  .markdown h3 + p,
  .markdown h3 + li {
    @apply mt-3;
  }

  .markdown h2,
  .markdown h3 {
    @apply mt-[3.875rem];
  }

  .markdown ul {
    @apply list-disc pl-8 mt-4;
  }

  .markdown li + li,
  .markdown p + p {
    @apply mt-2;
  }

  .markdown p + p {
    @apply mt-4;
  }

  .markdown img {
    @apply my-8;
  }

  .markdown a {
    @apply text-base-blue underline;
  }
}

@layer components {
  .button-fill {
    @apply text-xl bg-base-green px-8 py-2 text-white inline-block duration-300 hover:bg-base-blue;
  }

  .button {
    @apply text-xl bg-transparent px-8 py-2 text-base-green border border-base-green inline-block duration-300 hover:bg-base-green hover:text-white;
  }

  .input {
    @apply py-2 text-base-green border-b border-base-green bg-transparent placeholder-base-green text-sm lg:text-base outline-none;
  }

  .link {
    @apply underline inline-block text-base-green w-fit duration-300 hover:text-base-blue;
  }
}

@layer utilities {
  .linear-white-gradient {
    background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(250, 250, 250, 1) 90%,
      rgba(250, 250, 250, 0) 90%
    );
  }

  @media (max-width: 984px) {
    .linear-white-gradient {
      background: linear-gradient(
        0deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 1) 35%,
        rgba(250, 250, 250, 0) 35%
      );
    }
  }

  .linear-green-gradient {
    background: linear-gradient(0deg, rgba(227, 241, 228, 1) 75%, rgba(227, 241, 228, 0) 75%);
  }
}
